<div ng-init="getUserProfile()">


    <div layout="row" style="padding-top: 5%">
        <div flex="50" flex-offset="25" class="profileCard">
            <div class="profileTitle">
                <div class="userProfileName">{{user.name}}</div>
                <div style="width: 100%; display: table">
                    <div style="display:table-row-group; ">
                        <div style="width: 25%; display: table-cell;"></div>
                        <div style="width: 50%; display: table-cell;">
                            <div ng-if="!picFile && !user.avatarName" class="userProfile"
                                 style="background-image: url('{{host}}public/images/blank_account.png')">
                            </div>
                            <div ng-if="!picFile && user.avatarName" class="userProfile"
                                 style="background-image: url('{{host}}public/users/{{user.login}}/{{user.avatarName}}')">
                            </div>
                            <div ng-if="!!picFile">
                                <img ngf-src="picFile" class="userProfile">
                            </div>
                        </div>
                        <div style="width: 25%; display: table-cell; vertical-align: middle">

                            <md-button class="md-icon-button" aria-label="Добавить" ngf-select="" ng-model="picFile"
                                       name="file" ngf-accept="'image/*'" style="display: inline-block">
                                <md-tooltip>Изменить картинку профиля</md-tooltip>
                                <md-icon md-font-set="material-icons"
                                         class="profileImageBtn">
                                    mode_edit
                                </md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="changeAvatar()" aria-label="Добавить" ng-show="!!picFile" style="display: inline-block">
                                <md-tooltip>Подтвердить</md-tooltip>
                                <md-icon md-font-set="material-icons"
                                         class="profileImageBtn">
                                    check
                                </md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <md-content class="md-padding" style="background-color: white" layout="column">
                <md-input-container>
                    <label>Имя</label>
                    <input type="text" name="name" ng-model="user.name" autocomplete="off"/>
                </md-input-container>
                <md-input-container>
                    <label>email</label>
                    <input type="email" name="email" ng-model="user.email" autocomplete="off" disabled/>
                </md-input-container>
                <md-input-container>
                    <label>Логин</label>
                    <input type="text" name="login" ng-model="user.login" autocomplete="off" disabled/>
                </md-input-container>
                <md-input-container>
                    <label>Пароль</label>
                    <input type="password" name="login" ng-model="user.password" autocomplete="off"
                           placeholder="Измените свой пароль"/>
                </md-input-container>
            </md-content>
            <div layout="row" layout-align="center center">
                <div flex="flex"></div>
                <md-button ng-click="save();">Обновить</md-button>
            </div>
        </div>
    </div>
</div>