<div ng-init="init();" layout="column" ng-cloak>

    <md-content layout-padding>

        <form name="addProjectForm">
            <legend>Создание проекта:</legend>


            <md-input-container class="md-block">
                <label>jira-ключ</label>
                <input id="key" required name="key" ng-model="project.key">
                <div ng-messages="addProjectForm.key.$error">
                    <div ng-message="required">Нужен ключ проекта.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Имя</label>
                <input required id="name" name="name" ng-model="project.name">
                <div ng-messages="addProjectForm.name.$error">
                    <div ng-message="required">Нужно имя проекта.</div>
                </div>
            </md-input-container>

            <h3>Модель эстимации:</h3>
            <hr/>

            <h4 class="md-title">Поля эстимации:</h4>
            <md-chips
                    class="custom-chips"
                    ng-model="project.estimationModel.fields"
                    placeholder="Введите имя поля"
                    secondary-placeholder="+Поле"
                    md-enable-chip-edit="true">
                <md-chip-template>
                    <span>{{$chip}}</span>
                </md-chip-template>
                <button md-chip-remove class="md-primary estFieldBtn">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </button>
            </md-chips>


            <div layout-gt-xs="row">
                <md-input-container>
                    <md-switch
                            aria-label="Координация"
                            id="enableCoord"
                            ng-model="project.estimationModel.coordination.isNeeded">
                        Координация
                    </md-switch>
                </md-input-container>

                <md-input-container ng-show="project.estimationModel.coordination.isNeeded" class="inputWithSwich">
                    <label>Процент от разработки</label>
                    <input type="number" id="coordPercentage" name="coordPercentage"
                           ng-model="project.estimationModel.coordination.value">
                </md-input-container>
            </div>

            <div layout-gt-xs="row">
                <md-input-container>
                    <md-switch
                            aria-label="Стабилизация"
                            id="enableStab"
                            ng-model="project.estimationModel.stabilisation.isNeeded">
                        Стабилизация
                    </md-switch>
                </md-input-container>

                <md-input-container ng-show="project.estimationModel.stabilisation.isNeeded" class="inputWithSwich">
                    <label>Процент от разработки</label>
                    <input type="number" id="stabPercentage" name="stabPercentage"
                           ng-model="project.estimationModel.stabilisation.value">
                </md-input-container>
            </div>

            <div layout-gt-xs="row">
                <md-input-container>
                    <md-switch
                            aria-label="Тестирование"
                            id="enableTesting"
                            ng-model="project.estimationModel.testing.isNeeded">
                        Тестирование
                    </md-switch>
                </md-input-container>

                <md-input-container ng-show="project.estimationModel.testing.isNeeded" class="inputWithSwich">
                    <label>Процент от разработки</label>
                    <input type="number" id="testingCoord" name="testingCoord"
                           ng-model="project.estimationModel.testing.value">
                </md-input-container>
            </div>

            <div layout-gt-xs="row">
                <md-input-container>
                    <md-switch
                            aria-label="Другое"
                            id="otherCoordLabel"
                            ng-model="project.estimationModel.other.isNeeded">
                        Другое
                    </md-switch>
                </md-input-container>

                <md-input-container ng-show="project.estimationModel.other.isNeeded" class="inputWithSwich">
                    <label>Процент от разработки</label>
                    <input type="number" id="otherCoord" name="otherCoord"
                           ng-model="project.estimationModel.other.value">
                </md-input-container>
            </div>
        </form>

        <div class="modal-footer">
            <md-button ng-show="projectKey === undefined" type="submit" class="md-raised md-primary" ng-click="add();"
                       ng-disabled="addProjectForm.$invalid"> Добавить
            </md-button>
            <md-button ng-show="projectKey !== undefined" type="submit" class="md-raised md-primary" ng-click="save();"
                       ng-disabled="addProjectForm.$invalid"> Сохранить
            </md-button>
        </div>
    </md-content>
</div>