<md-button ui-sref="addProject" class="md-fab md-mini" md-colors="{background: 'green'}" aria-label="Add">
    <md-icon md-font-set="material-icons">add</md-icon>
</md-button>

<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">

        <md-card ng-repeat="project in projects">
            <a ui-sref="projectEstimations({key: project.key})">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{project.key}}</span>
                        <span class="md-subhead">{{project.name}}</span>
                    </md-card-title-text>
                </md-card-title>
            </a>
            <md-card-actions layout="row" layout-align="end center">
                <md-button confirm-popup
                           confirm-title="{{translation.ACTION_MSG.CONFIRM_DELETE}}"
                           confirm-text="{{translation.ACTION_MSG.CONFIRM_PROJECT_DELETE}} {{project.key}}"
                           confirm-button="{{translation.ACTIONS.DELETE}}"
                           cancel-button="{{translation.ACTIONS.CANCEL}}"
                           confirm-method="delete(project.key)">{{translation.ACTIONS.DELETE}}
                </md-button>
                <md-button ui-sref="editProject({key: project.key})">{{translation.ACTIONS.EDIT}}</md-button>
            </md-card-actions>
        </md-card>

    </div>
</md-content>
