<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2>
            <span>Estimator</span>
        </h2>
        <span></span>
        <md-button ui-sref="projects">Проекты</md-button>
        <md-button ui-sref="projects" ng-if="hasAccessLevel(2);">Test</md-button>
        <span flex></span>

        <md-menu-bar>
            <md-menu>
                <div class="userMenu"  ng-click="$mdOpenMenu()"
                         style="background-image: url('http://localhost:3000/public/users/{{user.login}}/{{user.avatarName}}')">
                </div>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ui-sref="profile">Профиль</md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="logout()">Выйти</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </div>
</md-toolbar>