<md-dialog aria-label="{{params.confirmTitle}}">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h4>{{params.confirmTitle}}</h4>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-font-set="material-icons">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content class="md-dialog-content">
		<h5>{{params.confirmText}}</h5>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button ng-click="execute()" class="md-primary">{{buttons.confirmButton}}</md-button>
		<md-button ng-click="cancel()" class="md-primary">{{buttons.cancelButton}}</md-button>
	</md-dialog-actions>
</md-dialog>