<div ng-init="init()">
    <div class="btn-group">
        <label
                ng-repeat="status in statuses"
                class="btn btn-primary"
                ng-model="estimation.status"
                uib-btn-radio="{{status}}" ng-click="changeStatus()"
        >{{status.value}}</label>
    </div>

    {{esModel.fields}}

    <div id="estimation">
        <div class="divTableRow" style="display: table; width: 100%;">
            <div class="divTableCell summary">{{estimation.summary}}</div>
        </div>
        <div class="divTable">
            <div class="divTableHeading">
                <div class="divTableRow" context-menu="sectionMenu">
                    <div class="divTableHead sectionNumber">№П</div>
                    <div class="divTableHead sectionNumber">№П/П</div>
                    <div class="divTableHead">Описание</div>
                    <div ng-repeat="model in esModel.fields" class="divTableHead estVal">{{model}}</div>
                    <div class="divTableHead estVal">Total</div>
                </div>
                <div class="divTableRow divEstimation" context-menu="sectionMenu">
                    <div class="divTableCell"></div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">Анализ и оценка</div>
                    <div ng-repeat="model in esModel.fields" class="divTableCell">&nbsp;</div>
                    <div class="divTableCell" contenteditable="true" type="number"
                         ng-model="estimation.estimationTime"></div>
                </div>
            </div>
            <div class="divTableBody" ng-repeat="section in estimation.sections">
                <div class="divTableRow" context-menu="sectionMenu">
                    <div class="divTableCell section sectionNumber">{{section.number}}</div>
                    <div class="divTableCell section sectionNumber">&nbsp;</div>
                    <div class="divTableCell section" contenteditable="true" type="text" ng-model="section.name"></div>
                    <div ng-repeat="model in esModel.fields" class="divTableCell section">&nbsp;</div>
                    <div class="divTableCell section estVal"></div>
                </div>
                <div class="divTableRow" ng-repeat="sub in section.subSections" context-menu="subSectionMenu">
                    <div class="divTableCell subSection sectionNumber"></div>
                    <div class="divTableCell subSection sectionNumber">{{sub.subNum}}</div>
                    <div class="divTableCell subSection" contenteditable="true" ng-model="sub.descr"></div>
                    <div
                            ng-repeat="model in esModel.fields"
                            class="divTableCell subSection"
                            contenteditable="true"
                            type="number"
                            ng-model="sub.estimation.DB"
                            ng-model-setter="convertToNum($value)"></div>
                    <div class="divTableCell subSection estVal"></div>
                </div>
            </div>


            <div class="divTableFoot">
                <div class="divTableRow" context-menu="sectionMenu">
                    <div class="divTableCell section sectionNumber">{{estimation.sections.length + 1}}</div>
                    <div class="divTableCell section sectionNumber">&nbsp;</div>
                    <div class="divTableCell section">Иное</div>
                    <div ng-repeat="model in esModel.fields" class="divTableCell section">&nbsp;</div>
                    <div class="divTableCell section estVal">{{estimation.stabilization + estimation.coordination}}
                    </div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">{{(estimation.sections.length + 1) + ".1"}}</div>
                    <div class="divTableCell">Стабилизация</div>
                    <div ng-repeat="model in esModel.fields" class="divTableCell">&nbsp;</div>
                    <div class="divTableCell" contenteditable="true" type="number"
                         ng-model="estimation.stabilization"></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">{{(estimation.sections.length + 1) + ".2"}}</div>
                    <div class="divTableCell">Координация</div>
                    <div ng-repeat="model in esModel.fields" class="divTableCell">&nbsp;</div>
                    <div class="divTableCell" contenteditable="true" type="number"
                         ng-model="estimation.coordination"></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableHead sectionNumber">&nbsp;</div>
                    <div class="divTableHead sectionNumber">&nbsp;</div>
                    <div class="divTableHead floatRight">Итого</div>
                    <div ng-repeat="model in esModel.fields" class="divTableHead estVal">&nbsp;</div>
                    <div class="divTableHead estVal"></div>
                </div>
            </div>
        </div>
    </div>

    <md-button class="md-raised md-warn" ui-sref="projectEstimations({key:project.key})">Назад</md-button>
    <md-button class="md-raised" md-colors="{background: 'green'}" ng-click="save();">Сохранить</md-button>
    <md-button class="md-raised md-primary" ng-click="print();">Печать</md-button>

</div>