<div>

    <a ng-if="projectKey === none" ui-sref="addEstimation({projectKey:projectKey})" role="button"
       class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span></a>
    <a ui-sref="addEstimation({projectKey: projectKey})" role="button" class="btn btn-primary btn-xs"><span
            class="glyphicon glyphicon-plus"></span></a>

    <div ng-show="estimations.length === 0" style="margin: 10px">
        Нет оценок
    </div>

    <div>
        <div class="form-group">
            <div class="">
                <label class="col-md-1 control-label middle-input-margin" for="status"> Статус: </label>
                <div class="col-md-2">
                    <select
                            ng-model="filter"
                            ng-options="item.value for item in filtrations"
                            name="status"
                            id="status"
                            class="form-control"
                    ></select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="centeate-text">
                <label class="col-md-1 control-label middle-input-margin" for="keyFilter"> Ключ: </label>
                <div class="col-md-2">
                    <input
                            ng-model="search.key"
                            name="keyFilter"
                            id="keyFilter"
                            class="form-control"
                    >
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover" ng-show="estimations.length > 0">
        <thead>
        <tr>
            <th>Ключ</th>
            <th>Описание</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="est in estimations | filter:search | filter:statusFilter">
            <td>
                <a ui-sref="projectEstimation({key: est.key, projectKey: projectKey})">{{est.key}}</a>
            </td>
            <td>{{est.summary}}</td>
            <td>
                <span class="label label-{{est.status.style}}">{{est.status.value}}</span>
            </td>
            </td>
            <td>
                <button
                        type="button"
                        class="btn btn-success btn-xs"
                        ui-sref="editEstimation({key: est.key, projectKey: est.projectKey})"
                        uib-tooltip="Редактировать">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button
                        type="button"
                        class="btn btn-danger btn-xs"
                        uib-tooltip="Удалить"
                        confirm-popup
                        confirm-title="Подтвердите удаление"
                        confirm-text="Подтвердите удаление эстимации"
                        confirm-button="Удалить"
                        cancel-button="Отмена"
                        confirm-method="deleteEstimation(est.key)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>