<div>

    <md-button ui-sref="addEstimation({projectKey: projectKey})" class="md-fab md-mini"
               md-colors="{background: 'green'}" aria-label="Add">
        <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>

    <div ng-show="estimations.length === 0" style="margin: 10px">
        {{translation.ESTIMATIONS.NO_ESTIMATIONS}}
    </div>

    <!-- Filtration -->
    <div ng-show="estimations.length > 0">

        <div layout-gt-xs="row" style="padding-left: 25px">
            <md-input-container class="md-block">
                <label>{{translation.ESTIMATIONS.STATUS}}:</label>
                <md-select ng-model="filter">
                    <md-option ng-value="item" ng-repeat="item in filtrations">{{ item.value }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <label>{{translation.ESTIMATIONS.KEY}}:</label>
                <input ng-model="search.key" name="keyFilter" id="keyFilter">
            </md-input-container>
            <md-switch ng-model="hideDone" aria-label="Hide done">
                {{translation.ESTIMATIONS.HIDE_DONE}}
            </md-switch>
        </div>
    </div>

    <!-- таблица эстимаций -->
    <md-table-container style="padding: 0px 25px">
        <table md-table>
            <thead md-head md-order="query.order">
            <tr md-row>
                <th>{{translation.ESTIMATIONS.KEY}}</th>
                <th>{{translation.ESTIMATIONS.SUMMARY}}</th>
                <th>{{translation.ESTIMATIONS.STATUS}}</th>
                <th>{{translation.ESTIMATIONS.ACTIONS}}</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="est in estimations | filter:search | filter:statusFilter">
                <td md-cell>
                    <a ui-sref="projectEstimation({key: est.key, projectKey: projectKey})">{{est.key}}</a>
                </td>
                <td md-cell>{{est.summary}}</td>
                <td md-cell>
                    <span class="label label-{{est.status.style}}">{{translation.STATUSES[est.status.value]}}</span>
                </td>
                <td md-cell>
                    <md-button
                            type="button"
                            class="md-icon-button"
                            ui-sref="editEstimation({key: est.key, projectKey: est.projectKey})"
                            uib-tooltip="{{translation.ACTIONS.EDIT}}">
                        <md-icon md-font-set="material-icons"
                                 ng-style="{color: 'green', 'font-size':'17px', height:'17px'}">mode_edit
                        </md-icon>
                    </md-button>
                    <md-button
                            type="button"
                            class="md-icon-button"
                            uib-tooltip="{{translation.ACTIONS.DELETE}}"
                            confirm-popup
                            confirm-title="{{translation.ACTION_MSG.CONFIRM_DELETE}}"
                            confirm-text="{{translation.ACTION_MSG.CONFIRM_ESTIMATION_DELETE}}"
                            confirm-button="{{translation.ACTIONS.DELETE}}"
                            cancel-button="{{translation.ACTIONS.CANCEL}}"
                            confirm-method="deleteEstimation(est.key)">
                        <md-icon md-font-set="material-icons"
                                 ng-style="{color: 'red', 'font-size':'17px', height:'17px'}">clear
                        </md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>