<div ng-init="init()">

    <div id="estimationStatus" class="md-toolbar-tools">
        <div style="display: inline-block; padding: 20px;">
            Статус: <span class="label label-{{estimation.status.style}}">{{estimation.status.value}}</span>
        </div>
        <div style="display: inline-block">
            <md-fab-speed-dial ng-hide="statusBtn.hidden" md-direction="right" md-open="statusBtn.isOpen"
                               class="md-scale" ng-mouseenter="statusBtn.isOpen=true"
                               ng-mouseleave="statusBtn.isOpen=false">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-mini" md-colors="{background: 'green'}">
                        <md-icon md-font-set="material-icons">edit</md-icon>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <div ng-repeat="status in statuses" ng-if="status.name !== estimation.status.name">
                        <md-button aria-label="{{status.value}}" class="md-warn md-raised"
                                   ng-click="changeStatus(status)">
                            {{status.value}}
                        </md-button>
                    </div>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
        <span flex></span>
        <md-button aria-label="menu" class="md-fab md-mini" md-colors="{background: 'green'}"
                   ng-click="toggleComments();">
            <md-icon md-font-set="material-icons">comment</md-icon>
        </md-button>
    </div>

    <div id="estimation">
        <!-- описание -->
        <div class="divTableRow" style="display: table; width: 100%;">
            <div class="divTableCell summary">{{estimation.summary}}</div>
        </div>
        <!-- таблица -->
        <div class="divTable">
            <div class="divTableHeading">
                <!-- шапка -->
                <div class="divTableRow" context-menu="sectionMenu">
                    <div class="divTableHead sectionNumber">№П</div>
                    <div class="divTableHead sectionNumber">№П/П</div>
                    <div class="divTableHead">Описание</div>
                    <div ng-repeat="model in esModel.fields" class="divTableHead estVal">{{model}}</div>
                    <div class="divTableHead estVal">Total</div>
                </div>
                <!-- Анализ и оценка -->
                <div class="divTableRow divEstimation">
                    <div class="divTableCell"></div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">Анализ и оценка</div>
                    <div ng-repeat="model in esModel.fields" class="divTableCell">&nbsp;</div>
                    <div class="divTableCell centeate-text">{{estimation.analysis.total()}}</div>
                </div>
                <!-- под-секции анализа и оценки -->
                <div class="divTableRow" context-menu="analysisSubSectionMenu"
                     ng-repeat="sub in estimation.analysis.subSections track by $index">
                    <div class="divTableCell subSection sectionNumber"></div>
                    <div class="divTableCell subSection sectionNumber">{{$index + 1}}</div>
                    <div class="divTableCell subSection" contenteditable="true" ng-model="sub.descr"></div>
                    <div ng-repeat="model in esModel.fields" class="divTableCell estVal">&nbsp;</div>
                    <div class="divTableCell subSection estVal centeate-text"
                         contenteditable="true"
                         type="number"
                         ng-model="sub.estimation"
                         ng-model-setter="convertToNum($value)"
                    ></div>
                </div>
            </div>
            <div class="divTableBody" ng-repeat="section in estimation.sections">
                <!-- Секции -->
                <div class="divTableRow" context-menu="sectionMenu">
                    <div class="divTableCell section sectionNumber">{{section.number}}</div>
                    <div class="divTableCell section sectionNumber">&nbsp;</div>
                    <div class="divTableCell section" contenteditable="true" type="text" ng-model="section.name"></div>
                    <div ng-repeat="model in esModel.fields" class="divTableCell section">&nbsp;</div>
                    <div class="divTableCell section estVal centeate-text">{{section.total();}}</div>
                </div>

                <!-- под-секции -->
                <div class="divTableRow" ng-repeat="sub in section.subSections" context-menu="subSectionMenu">
                    <div class="divTableCell subSection sectionNumber"></div>
                    <div class="divTableCell subSection sectionNumber">{{sub.subNum}}</div>
                    <div class="divTableCell subSection" contenteditable="true" ng-model="sub.descr"></div>
                    <div
                            ng-repeat="model in esModel.fields track by $index"
                            class="divTableCell subSection centeate-text"
                            contenteditable="true"
                            type="number"
                            ng-model="sub.estimation[$index]"
                            ng-model-setter="convertToNum($value)"></div>
                    <div class="divTableCell subSection estVal centeate-text">{{sub.total();}}</div>
                </div>
            </div>


            <div class="divTableFoot">

                <!-- Секция менеджмента -->
                <div class="divTableRow">
                    <div class="divTableCell section sectionNumber">{{estimation.mngmtSection.number}}</div>
                    <div class="divTableCell section sectionNumber">&nbsp;</div>
                    <div class="divTableCell section">{{estimation.mngmtSection.name}}</div>
                    <div ng-repeat="model in esModel.fields" class="divTableCell section">&nbsp;</div>
                    <div class="divTableCell section estVal centeate-text">{{estimation.mngmtSection.total()}}</div>
                </div>

                <!-- под-секции -->
                <div class="divTableRow" ng-repeat="sub in estimation.mngmtSection.subSections"
                     context-menu="subSectionMenu">
                    <div class="divTableCell subSection sectionNumber"></div>
                    <div class="divTableCell subSection sectionNumber">{{sub.subNum}}</div>
                    <div class="divTableCell subSection">{{sub.descr}}</div>
                    <div class="divTableCell subSection" ng-repeat="model in esModel.fields">&nbsp;</div>
                    <div class="divTableCell subSection estVal centeate-text">{{sub.estimation()}}</div>
                </div>

                <div class="divTableRow">
                    <div class="divTableHead sectionNumber">&nbsp;</div>
                    <div class="divTableHead sectionNumber">&nbsp;</div>
                    <div class="divTableHead floatRight">Итого</div>
                    <div ng-repeat="model in esModel.fields" class="divTableHead estVal">&nbsp;</div>
                    <div class="divTableHead estVal centeate-text">{{estimation.total();}}</div>
                </div>
            </div>
        </div>
    </div>

    <div id="estimationButtons">
        <md-button class="md-raised" md-colors="{background: 'green'}" ng-click="save(false);">Сохранить</md-button>
        <md-button class="md-raised" md-colors="{background: 'green'}" ng-click="save(true);">Сохранить и выйти
        </md-button>
        <md-button class="md-raised md-primary" ng-click="print();">Печать</md-button>
    </div>

    <md-sidenav class="md-sidenav-right" md-whiteframe="-1" md-component-id="comments">

        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Комментарии</h1>
        </md-toolbar>
        <md-content layout-padding>
            <div ng-repeat="comment in estimation.comments">
                <div>{{comment.text}}</div>
            </div>
            <md-input-container class="md-block" style="margin-bottom: 0px">
                <label>Новый комментарий</label>
                <textarea ng-model="newComment" rows="1" md-select-on-focus></textarea>
            </md-input-container>
            <md-button aria-label="menu" class="md-fab md-mini" md-colors="{background: 'green'}"
                       ng-click="addComment();">
                <md-icon md-font-set="material-icons">send</md-icon>
            </md-button>
        </md-content>

    </md-sidenav>

</div>