<div ng-init="init()">

    <div id="estimationStatus" class="md-toolbar-tools">
        {{translation.ESTIMATIONS.STATUS}}:
        <span md-colors="{background: '{{estimation.status.style}}'}" class="statusLabel">
            {{translation.STATUSES[estimation.status.value]}}
        </span>
        <div style="display: inline-block">
            <md-fab-speed-dial ng-hide="statusBtn.hidden" md-direction="right" md-open="statusBtn.isOpen"
                               class="md-scale" ng-mouseenter="statusBtn.isOpen=true"
                               ng-mouseleave="statusBtn.isOpen=false">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-mini" md-colors="{background: 'green'}">
                        <md-icon md-font-set="material-icons">edit</md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <div ng-repeat="status in statuses track by status.order"
                         ng-if="status.name !== estimation.status.name">
                        <md-button aria-label="{{status.value}}" class="md-warn md-raised"
                                   ng-click="changeStatus(status)">
                            {{translation.STATUSES[status.value]}}
                        </md-button>
                    </div>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
        <span flex></span>
        <md-button aria-label="menu" class="md-fab md-mini" md-colors="{background: 'green'}"
                   ng-click="toggleComments();">
            <md-icon md-font-set="material-icons">comment</md-icon>
        </md-button>
    </div>

    <md-list>
        <md-subheader class="md-no-sticky">Об оценке</md-subheader>
        <md-list-item>
            {{translation.ESTIMATIONS.TICKET_LINK}}:<a
                href="https://jira.lanit.ru/browse/{{estimation.key}}">{{estimation.key}}</a>
        </md-list-item>
        <md-list-item>
            Время на разработку:{{estimation.developmentTime}}
        </md-list-item>
    </md-list>

    <div id="estimation">
        <!-- summary -->
        <div class="divTableRow" style="display: table; width: 100%;">
            <div class="divTableCell summary">{{estimation.summary}}</div>
        </div>
        <!-- table -->
        <div class="divTable">
            <div class="divTableHeading">
                <!-- header -->
                <div class="divTableRow" context-menu="sectionMenu">
                    <div class="divTableHead sectionNumber">{{translation.ESTIMATIONS.ITEM_NO}}</div>
                    <div class="divTableHead sectionNumber">{{translation.ESTIMATIONS.SUBITEM_NO}}</div>
                    <div class="divTableHead">{{translation.ESTIMATIONS.SUMMARY}}</div>
                    <div ng-repeat="model in esModel.fields" class="divTableHead estVal">{{model}}</div>
                    <div class="divTableHead estVal">{{translation.ESTIMATIONS.TOTAL}}</div>
                </div>
                <!-- Analysis and estimation -->
                <div class="divTableRow divEstimation" ng-if="esModel.estimationTimeNeeded">
                    <div class="divTableCell"></div>
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">{{translation.ESTIMATIONS.ANALYSIS_SECTION_HEADER}}</div>
                    <div ng-repeat="model in esModel.fields" class="divTableCell">&nbsp;</div>
                    <div class="divTableCell centeate-text">{{estimation.analysis.total()}}</div>
                </div>
                <!-- sub-sections of Analysis and estimation -->
                <div ng-if="esModel.estimationTimeNeeded" class="divTableRow" context-menu="analysisSubSectionMenu"
                     ng-repeat="sub in estimation.analysis.subSections track by $index">
                    <div class="divTableCell subSection sectionNumber"></div>
                    <div class="divTableCell subSection sectionNumber">{{$index + 1}}</div>
                    <div class="divTableCell subSection" contenteditable="true" ng-model="sub.descr"></div>
                    <div ng-repeat="model in esModel.fields" class="divTableCell estVal">&nbsp;</div>
                    <div class="divTableCell subSection estVal centeate-text"
                         contenteditable="true"
                         type="number"
                         ng-model="sub.estimation"
                         ng-model-setter="convertToNum($value)"
                    ></div>
                </div>
            </div>
            <div class="divTableBody" ng-repeat="section in estimation.sections">
                <!-- sections -->
                <div class="divTableRow" context-menu="sectionMenu">
                    <div class="divTableCell section sectionNumber">{{section.number}}</div>
                    <div class="divTableCell section sectionNumber">&nbsp;</div>
                    <div class="divTableCell section" contenteditable="true" type="text" ng-model="section.name"></div>
                    <div ng-repeat="model in esModel.fields" class="divTableCell section">&nbsp;</div>
                    <div class="divTableCell section estVal centeate-text">{{section.total();}}</div>
                </div>

                <!-- sub-sections -->
                <div class="divTableRow" ng-repeat="sub in section.subSections" context-menu="subSectionMenu">
                    <div class="divTableCell subSection sectionNumber"></div>
                    <div class="divTableCell subSection sectionNumber">{{sub.subNum}}</div>
                    <div class="divTableCell subSection" contenteditable="true" ng-model="sub.descr"></div>
                    <div
                            ng-repeat="model in esModel.fields track by $index"
                            class="divTableCell subSection centeate-text"
                            contenteditable="true"
                            type="number"
                            ng-model="sub.estimation[$index]"
                            ng-model-setter="convertToNum($value)"></div>
                    <div class="divTableCell subSection estVal centeate-text">{{sub.total();}}</div>
                </div>
            </div>


            <div class="divTableFoot">

                <!-- management section -->
                <div class="divTableRow">
                    <div class="divTableCell section sectionNumber">{{estimation.mngmtSection.number}}</div>
                    <div class="divTableCell section sectionNumber">&nbsp;</div>
                    <div class="divTableCell section">{{estimation.mngmtSection.name}}</div>
                    <div ng-repeat="model in esModel.fields" class="divTableCell section">&nbsp;</div>
                    <div class="divTableCell section estVal centeate-text">{{estimation.mngmtSection.total()}}</div>
                </div>

                <!-- sub-sections -->
                <div class="divTableRow" ng-repeat="sub in estimation.mngmtSection.subSections">
                    <div class="divTableCell subSection sectionNumber"></div>
                    <div class="divTableCell subSection sectionNumber">{{sub.subNum}}</div>
                    <div class="divTableCell subSection">{{sub.descr}}</div>
                    <div class="divTableCell subSection" ng-repeat="model in esModel.fields">&nbsp;</div>
                    <div class="divTableCell subSection estVal centeate-text">{{sub.estimation()}}</div>
                </div>

                <div class="divTableRow">
                    <div class="divTableHead sectionNumber">&nbsp;</div>
                    <div class="divTableHead sectionNumber">&nbsp;</div>
                    <div class="divTableHead floatRight">{{translation.ESTIMATIONS.TOTAL}}</div>
                    <div ng-repeat="model in esModel.fields" class="divTableHead estVal">&nbsp;</div>
                    <div class="divTableHead estVal centeate-text">{{estimation.total();}}</div>
                </div>
            </div>
        </div>
    </div>

    <div id="estimationButtons">
        <md-button class="md-raised" md-colors="{background: 'green'}" ng-click="save(false);">Сохранить</md-button>
        <md-button class="md-raised" md-colors="{background: 'green'}" ng-click="save(true);">Сохранить и выйти
        </md-button>
        <md-button class="md-raised md-primary" ng-click="print();">Печать</md-button>
    </div>

    <md-sidenav class="md-sidenav-right" md-whiteframe="-1" md-component-id="comments">

        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">{{translation.ESTIMATIONS.COMMENTS.TITLE}}</h1>
        </md-toolbar>
        <md-content layout-padding>
            <div ng-repeat="comment in estimation.comments track by $index">
                <div contenteditable="true" type="text" ng-model="estimation.comments[$index].text"></div>
            </div>
            <md-input-container class="md-block" style="margin-bottom: 0px">
                <label>{{translation.ESTIMATIONS.COMMENTS.NEW_COMMENT}}</label>
                <textarea ng-model="newComment" rows="1" md-select-on-focus></textarea>
            </md-input-container>
            <md-button aria-label="menu" class="md-fab md-mini" md-colors="{background: 'green'}"
                       ng-click="addComment();">
                <md-icon md-font-set="material-icons">send</md-icon>
            </md-button>
        </md-content>

    </md-sidenav>

</div>